In [28]:
from tensorflow.keras.applications.inception_v3 import InceptionV3
from tensorflow.keras.applications.inception_v3 import preprocess_input
from tensorflow.keras.preprocessing import image
from tensorflow.keras.preprocessing.image import img_to_array
from sklearn.cluster import KMeans
import pandas as pd
import numpy as np
from tqdm import tqdm
import os
import shutil

In [29]:
# Function to Extract features from the images
input_path = '/home/dell/Desktop/My_learning/th_keras_tutorial/cluster_3/'
img_list= os.listdir(input_path)
model = InceptionV3(weights='imagenet', include_top=False)
features = [];
img_name = [];
for i in tqdm(img_list):
    fname=os.path.join(input_path,i)
    img=image.load_img(fname,target_size=(224,224))
    x = img_to_array(img)
    x=np.expand_dims(x,axis=0)
    x=preprocess_input(x)
    feat=model.predict(x)
    feat=feat.flatten()
    features.append(feat)
    img_name.append(i)

100%|█████████████████████████████████████████| 600/600 [00:51<00:00, 11.63it/s]

In [32]:
image_cluster = pd.DataFrame(img_name,columns=['image'])
image_cluster

             image
0     dog.4273.jpg
1     dog.4071.jpg
2     cat.5943.jpg
3     dog.7078.jpg
4     dog.3556.jpg
..             ...
595   dog.9989.jpg
596   dog.9368.jpg
597  dog.12029.jpg
598  dog.11593.jpg
599   dog.2005.jpg

[600 rows x 1 columns]

In [34]:
#Creating Clusters
k = 2
clusters = KMeans(k, random_state = 40)
clusters.fit(features)

KMeans(n_clusters=2, random_state=40)

In [35]:
KMeans(n_clusters=2, random_state=40)

KMeans(n_clusters=2, random_state=40)

In [37]:
image_cluster["clusterid"] = clusters.labels_ # To mention which image belong to which cluster
image_cluster # 0 denotes cat and 1 denotes dog

             image  clusterid
0     dog.4273.jpg          1
1     dog.4071.jpg          1
2     cat.5943.jpg          0
3     dog.7078.jpg          1
4     dog.3556.jpg          1
..             ...        ...
595   dog.9989.jpg          1
596   dog.9368.jpg          1
597  dog.12029.jpg          1
598  dog.11593.jpg          1
599   dog.2005.jpg          1

[600 rows x 2 columns]

In [50]:
# Made folder to seperate images
os.makedirs('cats',exist_ok=True)
os.makedirs('dogs',exist_ok=True)
# Images will be seperated according to cluster they belong
for i in range(len(image_cluster)):
    if image_cluster['clusterid'][i]==0:
        shutil.move(os.path.join(input_path, image_cluster['image'][i]), 'cats')
    else:
        shutil.move(os.path.join(input_path, image_cluster['image'][i]), 'dogs')